(NULL,"1M41A"), (NULL,"1P11A"), (NULL,"1P21A + 1P11A") (NULL,"1P41A"),
(NULL,"1P42A"), (NULL,"1P51A"), (NULL,"1P52A"), (NULL,"3M41A"),
(NULL,"3M51"),(NULL,"3M51A"), (NULL,"3M51A + 3M41A") (NULL,"3P11A"),
(NULL,"3P21A"), (NULL,"3P41A"), (NULL,"3P42A"), (NULL,"3P43") ,(NULL,"3P43A"),
(NULL,"3P51A"), (NULL,"3P52A"), (NULL,"3P53A"), (NULL,"3P55A"), (NULL,"5M41A"),
(NULL,"5M41A + 3M51A") (NULL,"5M41A + 5P43A") (NULL,"5M51A"), (NULL,"5P41A"),
(NULL,"5P42A"), (NULL,"5P43A"), (NULL,"5P43A + 3P53A") (NULL,"5P51A"),
(NULL,"5P52A"), (NULL,"5P53"), (NULL,"5P53A"), (NULL,"7M51A"), (NULL,"7P51A +
7M51A")
